* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html {
	background: #ffffff;
	font-family: 'Kodchasan', sans-serif;
	font-size: 22px;
	font-style: normal;
	font-weight: 600;
	/* line-height: 160px; */
	color: rgba(0, 0, 0, 0.7);
}
.container {
	max-width: 1530px;
	margin: 0 auto;
	padding: 0 15px;
}
.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 29px;
	margin-bottom: 30px;
}
.navigation {
	display: flex;
	list-style: none;
}
.navigation a {
	text-decoration: none;
	color: black;
	margin-left: 42px;
}
.background {
	display: flex;
	background-image: url('../img/Background.jpg');
}
.finger_text {
	font-size: 100px;
	line-height: 130px;
}
.finger_main {
	display: flex;
	flex-direction: column;
	padding-top: 162px;
	padding-left: 78px;
}
.honey {
	height: 860px;
	padding-top: 124px;
}
.button {
	display: flex;
	justify-content: space-between;
	max-width: 420px;
	padding-top: 106px;
}
.but_learn {
	padding: 18px 50px;
	font-size: 18px;
	line-height: 160%;
	border: 1px solid black;
	text-decoration: none;
	color: black;
	cursor: pointer;
}
.but_buy {
	padding: 18px 50px;
	font-weight: 700;
	font-size: 18px;
	line-height: 160%;
	color: #ffffff;
	background-color: black;
	cursor: pointer;
}
.our {
	font-size: 45px;
	line-height: 160%;
	max-width: 1150px;
	margin: 0 auto;
	margin-top: 130px;
}
.brands {
	display: flex;
	justify-content: space-between;
	max-width: 1150px;
	margin: 0 auto;
	margin-top: 53px;
}
.section_honey {
	display: flex;
	margin-top: 130px;
}
.section_honey h2 {
	font-size: 45px;
	line-height: 145%;
	margin-bottom: 30px;
	padding-right: 70px;
}
.section_honey p {
	font-weight: 600;
	font-size: 22px;
	line-height: 160%;
	margin-bottom: 50px;
	padding-right: 70px;
}
.learn {
	padding: 15px 40px;
	text-decoration: none;
	background: rgba(229, 131, 17, 1);
	color: #ffffff;
}

.nature {
	display: inline;
	margin-top: 13%;
	margin-left: 33px;
}
.reverse {
	display: flex;
	flex-direction: row-reverse;
	margin-top: 102px;
}
.reverse .nature {
	margin-left: 20px;
}
.product {
	display: flex;
	justify-content: space-between;
	align-items: baseline;

	max-width: 1150px;
	margin: 0 auto;
	margin-bottom: 50px;
}
.link_product {
	display: flex;
	align-items: flex-end;

	font-size: 18px;
	line-height: 160%;
	color: rgba(229, 130, 17, 1);
}

.buy_menu {
	display: flex;
	max-width: 1150px;
	margin: 0 auto;
	justify-content: space-between;
}

.text {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding-left: 30px;
}
.text h2 {
	font-size: 28px;
	line-height: 140%;
}
.text p {
	font-size: 16px;
	line-height: 160%;
}

.buy_menu_euc {
	display: flex;
	flex-direction: row;
	background-color: antiquewhite;
	max-width: 560px;
	margin-bottom: 130px;
	padding-bottom: 36px;
}
.buy_now {
	border: 1px solid rgba(229, 130, 17, 1);
	background-color: antiquewhite;
	color: rgba(229, 130, 17, 1);
	padding: 20px 40px;
	text-decoration: none;
}
.kart {
	padding: 40px 40px 40px 0;
}
.bass_kart {
	display: flex;
}
footer {
	background-image: url('../img/foot_logo_gogl_app/font.jpg');
	display: flex;
	max-width: 1530px;
	min-height: 137px;
}
.all_foot {
	display: flex;
	margin: 0 auto;
	min-width: 1150px;
	justify-content: space-between;
	align-items: center;
}
.foot_company {
	display: flex;
	width: 190px;
	justify-content: space-between;
	margin-left: 88px;
}
.foot_add {
	display: flex;
	width: 300px;
	justify-content: space-between;
	margin-left: 174px;
}
.foot_text {
	font-weight: 500;
	font-size: 14px;
	line-height: 160%;
	max-width: 270px;
	margin-left: 50px;
}
